.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1B1E;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 50px 0 50px;
}

.bg-footer{
    background-color: #1D1B1E;
}

@media (max-width: 700px)
{
    .div2{
        flex-direction: column;
        margin: 0px 50px 50px 50px;
    }
}


